.producers__container {
  background-image: url(../assets/producers-back.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 37.92vw;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3.75vw;
}

.producers__title {
  font-size: 2.3vw;
  margin-top: 8.02vw;
  margin-bottom: 2.97vw;
}

.producers__wrapper {
  display: flex;
  align-items: center;
  gap: 3.7vw;
}

.producers__list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 0.94vw;
  margin-bottom: 2.19vw;
}

.producers__list_item img {
  width: 12.6vw;
  height: 9.06vw;
  border-radius: 0.52vw;
}

.producers__arrow-right {
  rotate: 180deg;
  width: 2.08vw;
}

.producers__arrow-left {
  width: 2.08vw;
}

.producers__description {
  font-size: 1.04vw;
  line-height: 1.61vw;
  width: 66.67vw;
}
